body{
    background-color: #222;
}




h1{
font-family:  "Pacifico", cursive;
font-size: 50px;
position: relative;
color:#fff;



}
h1::before{ position: absolute; content:""; width:100%; height:30%; background-color: #FEC260; left:0; bottom:0; z-index: -1; transition:0.5s all ; -webkit-transition:0.5s all ; -moz-transition:0.5s all ; -ms-transition:0.5s all ; -o-transition:0.5s all ;
}

h1:hover::before{
height:70%;
}


.button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: mediumspringgreen solid 0.15em;
    border-radius: 0.25em;
    color: mediumspringgreen;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
  }
  
  .button p {
    z-index: 1;
  }
  
  .button:hover {
    color: #212121;
  }
  
  .button:active {
    border-color: teal;
  }
  
  .button::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: mediumspringgreen;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .button::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button:hover:before {
    transform: translateX(-1em);
  }
  
  .button:hover:after {
    transform: translateX(1em);
  }
  
  .button:active:before,
  .button:active:after {
    background: teal;
  }






.btn{

  width:100px;
}
